<div>
    <h1>Welcome!</h1>
    Have you ever dug through your fridge and found an item that is suprisingly spoiled? 
    Maybe you had grandiose plans for that item! 
    Fridge Mate is an application designed to alleviate that burden and help you manage your food items!
</div>
