/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

table.table {
    max-width: 60%;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

table.table-body {
    background-color: cadetblue;
}

#login-signup-forms {
    text-align: center;
}

#ingredient-form {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

#ingredients-table {
    border: 2px solid black;
}

#ingredient-show {
    text-align: center;
}

#inner-ingredient-show {
    text-align: center;
    border: 5px solid black;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#identity-actions {
    float: right;
}

#add-ingredient-button {
    display: block;
    margin: auto;
    align-content: middle;
}

#search-recipes-form {
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;    
}



@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

.navbar-brand, .navbar-brand a:link {
    list-style: none;
    text-decoration: none;
    color: black;
}

.jumbotron {
    text-align: center;
}

#recipe-search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 5px solid black;

}

